<div class="card flex justify-center overflow-x-auto">
    <p-organization-chart [value]="data" selectionMode="multiple" [(selection)]="selectedNodes" [collapsible]="true">
        <ng-template let-node pTemplate="person">
            <div class="flex flex-col">
                <div class="flex flex-col items-center">
                    <img [src]="node.data.image" class="mb-4 w-12 h-12" />
                    <div class="font-bold mb-2">{{ node.data.label }}</div>
                    <div>{{ node.data.type }}</div>
                </div>
            </div>
        </ng-template>
    </p-organization-chart>
</div>